.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*Header*/
.headBaner {
  width: 100%;
  padding-left: 15px;
  /*border: 5px solid black;
  margin-right: auto;
  margin-left: auto;*/
  align-items: center;
  justify-content: center;
}

/*Footer*/
.Footer{
  margin-top: auto;
}

/*Screen Content 'still exparmental'*/
.contentContainer{
  min-height: calc(100vh - 34px);
}

/*Image Resize*/
.shrink{
  max-width: 75%;
  max-height: auto;
}

/*Discription Text keep underling text find a fix*/
.text{
  display: flex;
  justify-content: left;
}

.test{
  margin-top: 10px;
  border: 10px solid black;
  background-color: white;
}

.outline{
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.butt {
  margin:15px;
}
